<!DOCTYPE html>
<html class="x-admin-sm" xmlns="http://www.w3.org/1999/html">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增订单</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../static/js/xadmin.js"></script>
</head>

<body>
<form action="/M_stock/changeItemStock" method="post">

                    <table class="layui-table layui-form">
                        <p th:if="${msg!=null}" th:text="${msg}"></p>
                        <thead>
                        <tr>
                            <th>商品编号</th>
                            <th>商品名称</th>
                            <th>商品品类</th>
                            <th>库存数量</th>
                        </thead>
                        <tbody>
                        <tr>

                            <td th:text="${Item.itemId}">Product ID</td>
                            <td th:text="${Item.product.name}">  name </td>
                            <td th:text="${Item.product.categoryId}">category</td>
                            <td><input th:placeholder="${Item.quantity}" name="newStock"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div >

                        <input type="submit" value="确认修改" class="layui-btn" /></div>

    </form>
</body>

