<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>

<body>

<header th:replace="common/top"></header>
<div id="Content">

    <div id="BackLink">
        <a href="/catalog/index">Return to Main Menu</a>
    </div>

    <div id="Catalog">
        Please confirm the information below and then press continue...
        <form action="/order/newOrder" method="post" >
            <table >
                <tr>
                    <th align="center" colspan="2"><font size="4"><b>Order</b></font>
                        <br />
                        <b th:text="${#dates.format(order.orderDate,'yyyy-MM-dd HH:mm:ss')}">
                            <!--                        <fmt:formatDate value="${sessionScope.order.orderDate}" pattern="yyyy/MM/dd hh:mm:ss" />-->
                        </b>
                    </th>
                </tr>

                <tr>
                    <th colspan="2">Billing Address</th>
                </tr>
                <tr>
                    <td>First name:</td>
                    <td th:text="${billToFirstName}" />
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td th:text="${billToLastName}" />
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td th:text="${billAddress1}" />
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td th:text="${billAddress2}" />
                </tr>
                <tr>
                    <td>City:</td>
                    <td th:text="${billCity}" />
                <tr>
                    <td>State:</td>
                    <td th:text="${billState}" />
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td th:text="${billZip}" />
                </tr>
                <tr>
                    <td>Country:</td>
                    <td th:text="${billCountry}" />
                </tr>
                <tr>
                    <th colspan="2">Shipping Address</th>
                </tr>
                <tr>
                    <td>First name:</td>
                    <td th:text="${shipToFirstName}" />
                </tr>
                <tr>
                    <td>Last name:</td>
                    <td th:text="${shipToLastName}" />
                </tr>
                <tr>
                    <td>Address 1:</td>
                    <td th:text="${shipAddress1}" />
                </tr>
                <tr>
                    <td>Address 2:</td>
                    <td th:text="${shipAddress2}" />
                </tr>
                <tr>
                    <td>City:</td>
                    <td th:text="${shipCity}" />
                </tr>
                <tr>
                    <td>State:</td>
                    <td th:text="${shipState}" />
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td th:text="${shipZip}" />
                </tr>
                <tr>
                    <td>Country:</td>
                    <td th:text="${shipCountry}" />
                </tr>
            </table>

            <input type="submit" name="confirmed" VALUE="Confirmed"></a>
        </form>
    </div>

</div>

<footer th:replace="common/bottom"></footer>

</body>
</html>





