<!DOCTYPE html>
<html>
<head>
    <title>个人信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/LoginStyle.css" rel='stylesheet' type='text/css' />
</head>
<body>
<div class="main">
    <div class="login">
        <h1>个人信息</h1>
        <div class="inset">
            <form action="newInfo.html">
                <div>
                    <span><label>账号 ：717781711</label></span>
                    <br>
                    <span><label>用户名 ：admin</label></span>
                    <br>
                    <span><label>生日 ：2000.02.22</label></span>
                    <br>
                    <span><label>性别 ：Man</label></span>
                    <br>
                    <span><label>职位 :  管理员</label></span>
                </div>
                <br>
                <div class="sign">
                    <a href="/Mhome/editInfo">修改</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="copy-right">
    <p>JPetStore Management System 2020</p>

</body>
</html>