<!DOCTYPE html>
<html>
<head>
    <title>修改信息</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../static/css/LoginStyle.css" rel='stylesheet' type='text/css' />
</head>
<body>
<div class="main">
    <div class="login">
        <h1>修改信息</h1>
        <div class="inset">
            <form action="info.html">
                <div>
                    <span><label>用户名</label></span>
                    <span><input type="text" class="textbox" ></span>
                </div>
                <div>
                    <span><label>生日 </label><input type="date" class="password"></span>
                </div>
                <br>
                <span><label>性别 ：</label>
                        <input type="radio" name="sex" value="man" class="textbox" > Man
                        <input type="radio" name="sex" value="woman" class="textbox"> Woman
                </span>
                <br>
                <div>
                    <span><label>职务 ：</label>
                        <input type="checkbox" class="password">老板
                        <input type="checkbox" class="password">管理员
                        <input type="checkbox" class="password">职员
                    </span>
                </div>
                <br>
                <div class="sign">
                    <input type="submit" value="确认修改" class="submit" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="copy-right">
    <p>JPetStore Management System 2020</p>

</body>
</html>