<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>修改密码</title>
    <meta http-equiv="Content-Type" content="text/html" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/LoginStyle.css" rel='stylesheet' type='text/css' />
</head>
<body>
<div class="main">
    <div class="login">
        <div class="inset">
            <!-- form的action没加-->
            <form action="/Mhome/editPassword" method="post" th:object="${manager}">
                <div>
                    <h2>修改密码</h2>
<!--                    <span><label>原始密码</label></span>-->
<!--                    <span><input type="text" class="textbox" ></span>-->
                </div>
                <div>
                    <span><label>新密码</label></span>
                    <span><input type="password" class="password" th:field="*{password}"></span>
                </div>
                <div>
                    <span><label>确认新密码</label></span>
                    <span><input type="password" class="password" name="repeatedPassword"></span>
                </div>
                <div>
                    <center><span th:text="${msg}" style="font-family:verdana;font-size:80%"></span></center>
                </div>
                <div class="sign">
                    <input type="submit" value="确认修改" class="submit" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="copy-right">
    <p>JPetStore Management System 2020</p>
</div>
</body>
</html>