<!DOCTYPE html>
<html>
<head>
    <title>修改密码</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../css/LoginStyle.css" rel='stylesheet' type='text/css' />
</head>
<body>
<div class="main">
    <div class="login">
        <div class="inset">
            <!-- form的action没加-->
            <form >
                <div>
                    <h2>修改密码</h2>
                    <span><label>原始密码</label></span>
                    <span><input type="text" class="textbox" ></span>
                </div>
                <div>
                    <span><label>新密码</label></span>
                    <span><input type="password" class="password"></span>
                </div>
                <div>
                    <span><label>确认新密码</label></span>
                    <span><input type="password" class="password"></span>
                </div>
                <div class="sign">
                    <input type="submit" value="确认修改" class="submit" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="copy-right">
    <p>JPetStore Management System 2020</p>
</div>
</body>
</html>