<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/jpetstore.css" type="text/css" media="screen"/>
</head>



<body>
<header th:replace="common/top"></header>
<div id="Content">
    <div id="Welcome">
        <div id="WelcomeContent">
            <!--登录用户的firstname-->
        </div>
    </div>

    <div id="Main">
        <div id="Sidebar">
            <div id="SidebarContent">
                <br>
                <br>
                <a href="/catalog/viewCategory?categoryId=FISH"><img src="../images/fish_icon.gif" /></a><br />
                Saltwater, Freshwater <br />
                <br>
                <a href="/catalog/viewCategory?categoryId=DOGS"><img src="../images/dogs_icon.gif" /></a><br />
                Various Breeds <br />
                <br>
                <a href="/catalog/viewCategory?categoryId=CATS"><img src="../images/cats_icon.gif" /></a><br />
                Various Breeds, Exotic Varieties <br />
                <br>
                <a href="/catalog/viewCategory?categoryId=REPTILES"><img src="../images/reptiles_icon.gif" /></a><br />
                Lizards, Turtles, Snakes <br />
                <br>
                <a href="/catalog/viewCategory?categoryId=BIRDS"><img src="../images/birds_icon.gif" /></a><br />
                Exotic Varieties
            </div>
        </div>

        <div id="MainImage">
            <br>
            <div id="MainImageContent">
                <map name="estoremap">
                    <area alt="Birds" coords="100,2,380,350" href="/catalog/viewCategory?categoryId=BIRDS" shape="RECT" />
                    <area alt="Fish" coords="2,250,102,350" href="/catalog/viewCategory?categoryId=FISH" shape="RECT" />
                    <area alt="Dogs" coords="70,350,170,450" href="/catalog/viewCategory?categoryId=DOGS" shape="RECT" />
                    <area alt="Reptiles" coords="200,400,300,500" href="/catalog/viewCategory?categoryId=REPTILES" shape="RECT" />
                    <area alt="Cats" coords="320,350,420,450" href="/catalog/viewCategory?categoryId=CATS" shape="RECT" />
                    <area alt="Birds" coords="400,250,500,350" href="/catalog/viewCategory?categoryId=BIRDS" shape="RECT" />
                </map>
                <img height="500" src="../images/splash.gif" align="middle" usemap="#estoremap" width="490" />
            </div>
        </div>

        <div id="Separator">&nbsp;</div>
    </div>

</div>
<footer th:replace="common/bottom"></footer>
</body>
</html>
