<!--后台管理系统的index.html-->
<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../css/LoginStyle.css" rel='stylesheet' type='text/css' />

</head>
<body>
	<div class="main">
		<div class="login">
			<h1>JPet后台管理系统</h1>
			<div class="inset">
				<form action="/Mhome/signon" method="post">
			         <div>
			         	<h2>登录</h2>
						<span><label>用户名</label></span>
						<span><input type="text" class="textbox" name="username" ></span>
					 </div>
					 <div>
						<span><label>密码</label></span>
					    <span><input type="password" class="password" name="password"></span>
					 </div>
					 <div class="sign">
                        <input type="submit" value="登录" class="submit" />
					 </div>
				</form>
			</div>
		</div>
	</div>

<div class="copy-right">
	<p>JPetStore Management System 2020</p>

</body>
</html>