<!DOCTYPE html>
<html class="x-admin-sm">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>订单管理</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="../css/font.css">
        <link rel="stylesheet" href="../css/xadmin.css">
        <script src="../static/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../static/js/xadmin.js"></script>
    </head>
    
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">订单管理</a>
                <a><cite>订单列表</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input type="text" name="username" placeholder="订单编号" autocomplete="off" class="layui-input"></div>

                                <div class="layui-input-inline layui-show-xs-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                        <i class="layui-icon">&#xe615;</i></button>
<!--                                </div>-->
<!--                                <div class="layui-card-header">-->
                                    <button class="layui-btn" onclick="xadmin.open('新增订单','newOrder.html')">
                                        <i class="layui-icon"></i>添加</button>
                                    <button class="layui-btn layui-btn-danger" onclick="delAll()">
                                        <i class="layui-icon"></i>删除</button>
                                </div>
                            </form>
                            <br>


                        <div class="layui-card-body ">
                            <table class="layui-table layui-form">
                                <thead>
                                    <tr>
<!--                                        <th>-->
<!--                                            <input type="checkbox" name="" lay-skin="primary">-->
<!--                                        </th>-->
                                        <th>订单ID</th>
                                        <th>用户ID</th>
                                        <th>创建日期</th>
                                        <th>总额</th>
                                        <th>订单状态</th>
                                        <th>操作</th>
                                </thead>
                                <tbody>
                                    <tr th:each="order:${pages.list}">
<!--                                        <td>-->
<!--                                            <input type="checkbox" name="" lay-skin="primary"></td>-->
                                        <td id="orderId" th:text="${order.orderId}">
                                        </td>
                                        <td th:text="${order.username}">
                                        </td>
                                        <td th:text="${#dates.format(order.orderDate, 'yyyy/MM/dd hh:mm:ss')}">
                                        </td>
                                        <td th:text="'$'+${#numbers.formatDecimal(order.totalPrice, 1,2)}">
                                        </td>
                                        <td th:text="${order.status}">
                                        </td>
   <!--                                     <td>

                                            <a class="btn btn-success" th:href="@{/system/orderEdit(orderID=${order.orderId})}">
                                                <i class="fa fa-edit"></i>编辑</a>
                                            <a th:href="@{/system/orderRemove(orderID=${order.orderId})}" class="btn btn-danger "
                                               data-toggle="modal" data-target="#DELETE"><i
                                                    class="fa fa-remove"></i>删除</a>
                                            <a th:href="@{/system/viewOrderDetail(orderId=${order.orderId})}" class="btn btn-warning"><i
                                                    class="fa fa-search"></i>详细
                                            </a>
                                        </td>-->

                                        </td>
                                        <td class="td-manage">
                                            <a title="查看" th:href="'/M_order/viewOrderDetail?orderId='+${order.orderId}">

                                                <i class="layui-icon">&#xe63c;</i></a>
                                            <a title="删除"  onclick="Javascript:return confirm('确定要删除吗？');" th:href="'/M_order/orderRemove?orderID='+${order.orderId}">
                                                <i class="layui-icon">&#xe640;</i></a>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">
                            <div class="page">
                                <div>
                                    <a class="prev" href="">&lt;&lt;</a>
                                    <span class="current">1</span>
                                    <!--  <a class="num" href="">2</a>-->
                                    <a class="next" href="">&gt;&gt;</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>