<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.csu.mypetstore.persistence.ManagerMapper">

    <select id="getManagerByUsernameAndPassword" parameterType="Manager" resultType="Manager">
        SELECT
            USERNAME
        FROM MANAGER
        WHERE USERNAME= #{username}
            AND PASSWORD = #{password}
    </select>

    <select id="getManagerByPassword" parameterType="String" resultType="Manager">
        SELECT
            PASSWORD
        FROM MANAGER
        WHERE PASSWORD = #{password}
    </select>

    <update id="updatePassword" parameterType="Manager">
        UPDATE manager SET
            password = #{password}
    </update>

    <select id="getInfoByUsername" parameterType="String" resultType="Manager">
        SELECT
            USERNAME,
            BIRTHDAY,
            SEX,
            DUTY
        FROM MANAGER
    </select>

    <update id="updateInfo" parameterType="String">
        UPDATE manager SET
            username = #{username},
            birthday = #{birthday},
            sex = #{sex},
            duty = #{duty}
    </update>
</mapper>